<a href="https://colab.research.google.com/github/bexporter/mongoose/blob/master/Copy_of_Activity_Basic_Looping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<table border="0" align="left" width="700" height="144">
<tbody>
<tr>
<td width="120"><img width="100" src="https://static1.squarespace.com/static/5992c2c7a803bb8283297efe/t/59c803110abd04d34ca9a1f0/1530629279239/" /></td>
<td style="width: 600px; height: 67px;">
<h1 style="text-align: left;">Activity: Basic Looping</h1>
<p><a href="https://colab.research.google.com/github/KenzieAcademy/python-notebooks/blob/master/Activity_Basic_Looping.ipynb"> <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab" align="left" width="188" height="32" /> </a></p>
</td>
</tr>
</tbody>
</table>

## Instructions

**Use SHIFT+ENTER to run each cell.**
These exercises use a tool called Juptyer Notebook. Here are some quick guidelines:

- Each block of python code is called a cell.
- You are running an actual python program, cell-by-cell.
- You can edit and re-run the code cells in place without overwriting the original notebook.
- Don't worry about the In [x]: or Out [y]: notations on the left margin.
- Variables are remembered between cells.
- Please use the `print()` function when displaying your answers.
- Don't worry about formatting your output to print everything on a single line.

### Let us begin...

### 1.
Print a list of integers from 1 to 20.

Example:
```
[1, 2, 3, ..., 19, 20]
```

In [ ]:
print('Integers from 1 to 20:')
print(list(range(1,21)))

Integers from 1 to 20:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### 2.
Print a list containing only the even numbers from 1 to 20. Remember that `range()` accepts 3 arguments...

Example:
```
[2, 4, 6, ..., 18, 20]
```

In [ ]:
print('Evens from 1 to 20:')
print(list(range(0,21,2)))

Evens from 1 to 20:
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 3.
Print a list containing only the odd numbers from 1 to 20.

Example:
```
[1, 3, 5, ..., 17, 19]
```

In [ ]:
print('Odds from 1 to 20:')
print(list(range(1,21,2)))

Odds from 1 to 20:
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 4.
Print a list containing the multiples of 5, from 5 to 100.

Example:
```
[5, 10, 15, ..., 95, 100]
```

In [ ]:
print('Multiples of 5, from 5 to 100:')
print(list(range(0,21,5)))

### 5.
Print a list containing the squares of integers from 1 to 10.

Example:
```
[1, 4, 9, ..., 81, 100]
```

In [ ]:
print('Squares of integers from 1 to 10:')
for i in range(1, 11):
  print(pow(i, 2))

Squares of integers from 1 to 10:
1
4
9
16
25
36
49
64
81
100

### 6.
Print a list of integers, counting backwards from 20 to 1.

Example:
```
[20, 19, 18, ..., 2, 1]
```

In [ ]:
print('Integers from 20 to 1:')
print(list(range(20,0,-1)))

Integers from 20 to 1:
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 7.
Print a list containing only the even numbers, counting backwards from 20 to 2.

Example:
```
[20, 18, 16, ..., 4, 2]
```

In [ ]:
print('Evens from 20 to 2:')
print(list(range(20,0,-2)))

Evens from 20 to 2:
[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

### 8.
Print a list containing only the odd numbers from 20 to 1, counting backwards.

Example:
```
[19, 17, 15, ..., 3, 1]
```

In [ ]:
print('Odds from 20 to 1:')
print(list(range(19,0,-2)))

Odds from 20 to 1:
[19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

### 9.
Print a list containing the multiples of 5, counting down from 100.

Example:
```
[100, 95, 90, ..., 10, 5]
```

In [ ]:
print('Multiples of 5 descending from 100 to 5:')
print(list(range(100,4,-5)))

Multiples of 5 descending from 100 to 5:
[100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5]

### 10.
Print a list containing the square of integers, descending from 10 to 1.

Example:
```
[100, 81, 64, ..., 4, 1]
```

In [ ]:
print("Squares of integers descending from 10 to 1:")
for i in range(10, 0, -1):
  print(pow(i,2))

Squares of integers descending from 10 to 1:
100
81
64
49
36
25
16
9
4
1

In [ ]:
# Here's a static list to work with for the next cells
sample_list = [
    469, 755, 244, 245, 758, 450, 
    302, 20, 712, 71, 456, 21, 398, 
    339, 882, 848, 179, 535, 940, 472
]

### 11.
Print the elements of sample_list and the count of elements.

In [ ]:
print("Elements and count of sample_list:")
for i in sample_list:
  counted = sample_list.count(i)
  print(i, counted)

Elements and count of sample_list:
469 1
755 1
244 1
245 1
758 1
450 1
302 1
20 1
712 1
71 1
456 1
21 1
398 1
339 1
882 1
848 1
179 1
535 1
940 1
472 1

### 12.
Print only the even numbers contained in sample_list and their count.

In [ ]:
print("Even elements and their count:")
for i in sample_list:
  if i % 2 == 0:
    counted = sample_list.count(i)
    print(i, counted)

Even elements and their count:
244 1
758 1
450 1
302 1
20 1
712 1
456 1
398 1
882 1
848 1
940 1
472 1

### 13.
Print only the odd numbers contained in sample_list and their count.

In [ ]:
print("Odd elements and their count:")
for i in sample_list:
  if i % 2 == 1:
    counted = sample_list.count(i)
    print(i, counted)

Odd elements and their count:
469 1
755 1
245 1
71 1
21 1
339 1
179 1
535 1

### 14.
Print the square of each element in sample_list.

In [ ]:
print("Squares of elements of sample_list:")
for i in sample_list:
    print(pow(i,2))

Squares of elements of sample_list:
219961
570025
59536
60025
574564
202500
91204
400
506944
5041
207936
441
158404
114921
777924
719104
32041
286225
883600
222784

### 15.
Print the sum of all the integers from 1 to 20.

In [ ]:
print("Sum of integers from 1 to 20:")
print(sum(range(1, 21)))

Sum of integers from 1 to 20:
210

### 16.
Print the sum of all the elements in sample_list.

In [ ]:
print("Sum of elements of sample_list:")
print(sum(sample_list))

Sum of elements of sample_list:
9096

### 17.
Print the smallest (min) element in sample_list.

In [ ]:
print("Smallest (min) element of sample_list:")
print(min(sample_list))

Smallest (min) element of sample_list:
20

### 18.
Print the largest (max) element in sample_list.

In [ ]:
print("Largest (max) element of sample_list:")
print(max(sample_list))

Largest (max) element of sample_list:
940

## NICE JOB! You are done!

_This looping notebook prepared by: C1.JakeBerg_